/*ESTILOS PARA LA PAGINA WEB*/
*{
	margin:0;
	padding: 0;
	list-style: none;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    text-decoration: none;
}

/*------------------------------*/
/*GENERALES PARA TODAS LAS PAGINAS*/
body{
	background: #e3e9f7;
}

.content{
	width: 100%;
}

/*MENU*/
header {
    width: 100%;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
	box-shadow: 0px 0px 8px rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

header #logo_Pagina{
	width: 30%;
}

header img{
	height: 50px;
}

header img:hover{
	opacity: 70%;
}

header nav ul {
    display: flex;
}

header nav ul li a {
	color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 800;
    padding: 8px 18px;
    border-radius: 10px;
}

nav ul li a.active {
    color: #fff;
    background: #000;
}

nav ul li a:hover {
	background: black;
	color: white;
}

/*------------------------------*/
/*MENU: PARTE RESPONSIVE*/
.responsive {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.responsive:hover {
    background: #f6f4ff;
}

.responsive .line {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}
/*------------------------------*/
/*FIN MENU: PARTE RESPONSIVE*/


/*------------------------------*/
/*FIN MENU*/

/*FOOTER*/
footer{
	padding-top: 20px;
	width: 100%;
	background: #fff;
	border-top: 1px solid black;
}

footer p{
	font-family: sans-serif;
}

.titulo_Footer{
	font-weight: bold;
	text-align: center;
}

#fecha_Footer{
	padding-top: 20px;
	text-align: center;
	font-style: italic;
}

.copyright_Footer{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text_copyright_Footer{

	display: inline;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;

}

.imagenPUCMM_Footer{
	width: 38px;
	height: 38px;
}

.imagenRD_Footer{
	width: 38px;
	height: 25.32px;
	margin-top: 6px;
}

/*------------------------------*/
/*FIN FOOTER*/

.main{
	width: 100%;
	margin-top: 70px;
	margin-bottom: 10px;
}


/*RESPONSIVE - TODAS LAS PAGINAS*/
@media only screen and (max-width: 700px){

	header {
        width: 100%;
        padding: 0 20px;
    }

    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked ~ nav {
        left: 0;
    }

    header nav #logo_Pagina {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    header nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    header nav ul li a {
        margin-bottom: 5px;
        padding: 15px;
        border-radius: 5px;
        display: block;
		text-decoration: none;
		border-bottom:1px solid rgba(0,0,0,.5);
    }

    header nav ul li a:hover {
        background: black;
        color: white;
    }

    .responsive {
        display: block;
    }

}
/*------------------------------*/
/*FIN RESPONSIVE - TODAS LAS PAGINAS*/

/*BOTON SUBIR AL INICIO*/
#topBtn{
  position: fixed;
  bottom: 40px;
  right: 0.5%;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #5e5e5e;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
  border-radius: 30px;
}
/*------------------------------*/
/* FIN BOTON SUBIR AL INICIO*/

/*------------------------------*/
/*FIN GENERALES PARA TODAS LAS PAGINAS*/
 

/*--------------------------*/
/*			PAGINAS			*/
/*--------------------------*/

/*PAGINA: INICIO*/

/*Slideshow:*/
.slide{
	background: #000055;
	width: 90%;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 0px 4px rgba(0,0,0,.6);
	top: 0;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;

}

.mySlides{
	display: none;
}

.slideshow-container img{
	vertical-align: middle;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}

/* Position the "next button" to the right */
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover{
  background-color: white;
  color: black;
}

/* Number text (1/3 etc) */
.numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  opacity: 80%;
  font-family: sans-serif;
  display: none;
}

/* The dots/bullets/indicators/BOTONES QUE INDICAN EL SLIDE */
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

@media only screen and (max-width: 400px){
	.dot{
		height: 10px;
 		width: 10px;
	}
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4;} 
  to {opacity: 1;}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px;}
}
/*------------------------------*/
/*FIN Slideshow:*/

/*Contenido principal*/
.main article{
	background: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 0px 4px rgba(0,0,0,.6);
	margin-top: 15px;
	margin-bottom: 15px;
}

.main article:after {
	  content: "";
	  display: table;
	  clear: both;
}

.TituloContent{
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	text-align: center;
}

.Bienvenida{
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	padding: 10px 10px 0 10px;
}

/*IMAGENES DE QUE SE PUEDE ENCONTRAR EN LA PAGINA*/
.main article div{
	width: 30%;
	margin: auto;
	float: left;
	border-style: solid;
	border-radius: 7px;
	border-width: 1px;
 	border-color: #000;
 	margin-bottom: 10px;
 	margin-top: 20px;
 	margin-left: 2%;
	margin-bottom: 15px;
}

.main article div img{
	width: 40%;
	margin-left: 30%;
}

.TitleImg{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	margin-bottom: 15px;
}

.TextImg{
	padding: 10px;
	text-align: justify;
	font-family: sans-serif;
	display: none;
}

.VerMas{
	text-align: center;
	font-family: sans-serif;
	display: none;
}

.VerMas a{
	color: #0d8ce7;
	font-family: sans-serif;
}

.VerMas a:hover{
	opacity: 50%;
}

@media only screen and (max-width: 700px){

	.main{
		width: 100%;
		margin-bottom: 10px;
	}
	.main article{
		width: 90%;
	}

	.main article div{
		width: 60%;
		margin-left: 20%; 		
	}


	.main article div img{
		width: 20%;		
		margin: 0 0 0 40%;
	}

}

.Proyecto{
	padding-top: 20px;
	padding-left: 20px;
}

.ProyectoTexto{
	padding-right: 20px;
	padding-left: 20px;
	line-height: 30px;
	text-align: justify;
}

.ProyectoTexto a{
	color: #007bdf;
}

.ProyectoTexto a:hover{
	text-decoration: underline;
}

/*FORMULARIO ENVIANOS UN MENSAJE*/

.container_form{
    background-color: #fff;
    width: 90%;
	margin-left: 5%;
    padding: 30px 30px ;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
	border-style: solid;
	border-width: 1px;
}

.container{	
	width: 100%;
	border: 1px #000 solid;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
}

.container_form h1{
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}

.container_form p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}

form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}

.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}

label{
    color: #1c093c;
    font-size: 14px;
}

textarea,
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
    font-family: sans-serif;
}

textarea{
    resize: none;
    height: 150px;
}

textarea:focus,
input:focus{
    outline: none;
    border-color: #005dad;
}

#btnEnviar{
    border: none;
    padding: 10px 20px;
    background: #6f6df4;
    color: #ffffff;
    border-radius: 3px;
    margin: 0 auto;
}

button:hover{
    cursor: pointer;
    background-color: #4c46f5;
}

 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }

 form .category{
   display: flex;
   width: 100%;
   margin: 14px 0 ;
   justify-content: space-between;
 }

 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }

 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #005dad;
   border-color: #d9d9d9;
 }

 form input[type="radio"]{
   display: none;
 }


/*
input #nombre{
	background-image:url(../Imagenes/User.png);
	background-repeat:no-repeat;
	background-size: 8%;
	background-position:1px;
}*/


article section{
	display: none;
}

/* NOT USING */
/*.main article section{
	width: 47%;
	height: 550px;
	margin: auto;
	float: left;
	margin: 20px 0px 20px 0px;		
	text-align: center;
	background: #f9fafc;
	border-style: solid;
	border-radius: 7px;
	border-width: 1px;
 	border-color: #000;
 	margin-left: 1%;
 	margin-right: 1%;
}
section p{
	font-family: sans-serif;
}

#tituloVerificarCalidad{
	font-weight: bold;
	font-size: 20px;
	padding: 10px 0 10px 0;
}

#selectVerificar{
	width: 40%;
	height: 25px;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 10px;

}

#btnVerificarCalidad{
	width: 30%;
	height: 40px;
	background: #2563ea;
	color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
}

#btnVerificarCalidad:hover{
	background: #eef1f8;
	color: #4d7397;
	cursor: pointer;
}

#resultadoVerificarCalidad{
	width: 80%;
	margin: auto;
	margin-bottom: 10px;
	border: 2px solid #000;
	border-radius: 7.5px;

}

#txtTituloResultadoVerificarCalidad{
	font-size: 19px;
	padding: 10px 0 0 0;
	font-weight: bold;
}

#txtResultadoVerificarCalidad{
	font-size: 18px;
	padding-bottom: 20px;
}

#staticsH{
	font-size: 19px;
	font-weight: bold;
	text-decoration: underline;
}

.statics{
	font-size: 17px;
	padding: 5px 0 5px 0;
}

#tituloEstadistica{
	font-weight: bold;
	font-size: 20px;
	padding: 10px 0 10px 0;
}

#descripcionEstadistica{
	font-size: 18px;
	padding-bottom: 20px;
}

#DatosPromedios{
	font-size: 19px;
	font-weight: bold;
	text-decoration: underline;
	padding-bottom: 10px;
}

#imgInfo{
	width: 100px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 700px){

	.main{
		width: 100%;
		margin-bottom: 10px;
	}

	#mapa_calidad{
		width: 90%;
		margin: auto;
	}

	.main article{
		width: 90%;
	}

	.main article section{
		width: 90%;
		margin-left: 5%;		
		margin-bottom: 15px;
		background: #f9fafc;
		border-style: solid;
		border-radius: 7px;
		border-width: 1px;
 		border-color: #000;
	}

	.main article div{
		width: 60%;
		margin-left: 20%; 		
	}


	.main article div img{
		width: 20%;		
		margin: 0 0 0 40%;
	}

	section p{
		font-family: sans-serif;
	}

	#tituloVerificarCalidad{
		font-weight: bold;
		font-size: 20px;
		padding: 10px 0 10px 0;
	}

	#selectVerificar{
		width: 40%;
		height: 25px;
		text-align: center;
		border-radius: 10px;
		margin-bottom: 10px;

	}

	#btnVerificarCalidad{
		width: 30%;
		height: 40px;
		background: #2563ea;
		color: #fff;
		border: 1px solid #000;
		border-radius: 10px;
	}

	#btnVerificarCalidad:hover{
		background: #eef1f8;
		color: #4d7397;
		cursor: pointer;
	}

	#resultadoVerificarCalidad{
		width: 80%;
		margin: auto;
		margin-bottom: 10px;
		border: 2px solid #000;
		border-radius: 7.5px;

	}

	#txtTituloResultadoVerificarCalidad{
		font-size: 19px;
		padding: 10px 0 0 0;
		font-weight: bold;
	}

	#txtResultadoVerificarCalidad{
		font-size: 18px;
		padding-bottom: 20px;
	}

	#staticsH{
		font-size: 19px;
		font-weight: bold;
		text-decoration: underline;
	}

	.statics{
		font-size: 17px;
		padding: 5px 0 5px 0;
	}

	#tituloEstadistica{
		font-weight: bold;
		font-size: 20px;
		padding: 10px 0 10px 0;
	}

	#descripcionEstadistica{
		font-size: 18px;
		padding-bottom: 20px;
	}

	#DatosPromedios{
		font-size: 19px;
		font-weight: bold;
		text-decoration: underline;
		padding-bottom: 10px;
	}

	#imgInfo{
		width: 100px;
		margin-bottom: 10px;
	}
}